*{font-family:微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.logbody{width:705px; height:400px;border-radius: 10px; margin: auto; margin-top: 50px;}
.logbodyL{ width: 350px; height: 400px; float: left;}
.logbodyR{ width:280px; height: 400px;border-left: 1px solid #ddd;float: left; padding-left:70px;}
.logbodyRtop{width: 240px; height:40px; font-size:20px; color:rgb(131,131,131);line-height: 40px; }
.yonghu,.mima{ width: 244px; height: 24px;margin-top:20px; border-radius: 4px; border: 1px solid #ccc; padding: 5px;}
.userid,.userpwd{ width:234px;display: block; height: 24px;color: #999; font-size: 16px; line-height: 26px;outline:none; border: none;}
#tijiao{width:124px; height: 36px; font-size: 14px;cursor:pointer; border-radius: 4px; background-image:url("../Images/login_btn.png"); display: block; margin-top: 10px;float: left; color: #fff; font-size:18px; outline: none;border:none; margin-right: 10px;}
#btnzhuce{width:124px; height: 36px; font-size: 14px;cursor:pointer; border-radius: 4px; background-image:url("../Images/login_btn.png"); display: block; margin-top: 10px;float: left; color: #fff; font-size:18px;text-align: center;line-height: 36px;}
.spanjoin{ display: inline-block; font-size: 11px; color: #888; margin-top:90px;}

.logbodyLtop{width:160px; height:40px; font-size:20px; color: rgb(131,131,131);line-height: 40px; margin-left: 70px;}
.saomiao{width: 164px; height: 164px; margin-left:60px; margin-top: 30px; padding: 10px; border: 1px solid #444; cursor: pointer;}
.soamiaoIn{width:59px; height: 59px;background-image:url("../Images/ptqrshow.png");padding: 55px;}
.soamiaoInIn{background-image: url("../Images/icon_qq_QR.png"); width: 42px; height: 47px; background-color: #000;}
.spansaomiao{width: 194px;height:36px; border-radius: 36px; background-color: rgb(233,233,233);display:block; margin-left: 50px;margin-top: 20px;font-size: 11px; color: #888; line-height: 36px; text-align: center; cursor: pointer;}
.phoneqq{ width: 142px; height: 32px; background-color: rgb(131, 182, 247); border-radius: 4px; margin: auto; margin-top: 20px; color: #fff;text-align: center; line-height:32px; font-size: 14px; cursor: pointer;}
.top{display: block;
font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 30px;height: 40px;margin-bottom: 40px;margin-left: 424.5px;margin-right: 424.5px;margin-top: 62px;text-align: center;width: 500px;}
.error{display: block;width: 200px; height: 20px;color:#f00; font-size: 14px; display: none;}